@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;;
}
img{
  width: 100%;
  height: 100%;
  background-position: center;
}
ul, a, li{
  text-decoration: none;
  color: black;
  list-style: none;
}
body{
  padding: 20px 50px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navleft a{
  font-size: 30px;
  font-weight: 700;
}
nav ul{
  display: flex;
  gap: 20px;
}
nav ul li a{
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}
nav ul li a:hover{
  text-decoration: underline;
  color: #5be9c5;
}

.hero{
  position: relative;
  height: 500px;
  background-image: url("./images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border-radius: 10px;
  overflow: hidden;
}
.hero-overly{
  background: rgba(0, 0, 0, 0.5);
  padding: 8px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #38c4a1;
}
.hero-overly h1{

  font-size: 45px;
  font-weight: 600;
  padding: 15px 0;

}
.hero-overly h1 span{
  color: white;
}
.hero-overly p{
  width: 80%;
  color: white;
  font-size: 18px;
}
/* gadgets section style  */
#gadgets{
  margin: 40px 0;
  text-align: center;
}
#gadgets>h2{
  color: #38c4a1;
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 50px;
}
.gadget_body{
  display: flex;
  gap: 20px;
  text-align: start;
  
}
.gadget_card{
  padding: 5px 20px;
  border: 2px solid #38c4a1;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.gadget_body img{
  width: 300px;
  height: 200px;
  border-radius: 14px;
margin: 0 auto;
}